{% extends "user/layout_user.html.twig" %}

{% block body %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example<a class="btn btn-info" href="{{ path('add_user') }}"><i class="fa fa-plus" ></i>ADD AN USER</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.description }}</td>
                            <td><a class ="btn btn-danger fa fa-trash " href="{{ path('delete_product',{'id':product.id}) }}"> DELETE</a></td>
                            <td><a class ="btn btn-success fa fa-edit" href="{{ path('edit_product',{'id':product.id}) }}">EDIT</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>


{% endblock %}